{% extends 'template.html.twig' %}
{% block content %}
	<section class="col-lg-12">
		{% if session %}
			<div class="alert alert-success">
    			Connecté en tant que : {{ session.login }}
			</div>
		{% else %}
			<div class="alert alert-danger">
    			Vous n'êtes pas connecté
			</div>
		{% endif %}
		<h2>Bienvenue</h2>
			<p>
    			Bienvenue sur <em>Social Sondage</em>, ici, vous pourrez créer et participer
    			à des sondages!
			</p>
		<h2>Comment ça marche?</h2>
			<p>
    			Premièrement, <a href="register.php">inscrivez-vous</a>, vous devez avoir un 
    			compte pour participer. <a href="create.php">Créez ensuite</a> votre sondage en ligne.
    			Vous obtiendrez un lien, en allant dans la rubrique <a href="my-polls.php">mes sondages</a>
    			que vous pourrez partager pour que les autres puissent participer.
			</p>
	</section>
{% endblock %}