{% extends 'template.html.twig' %}
{% block content %}
	<section class="col-lg-12">
		<h2>Déconnexion</h2>

		<div class="alert alert-success">
	 	   Vous êtes maintenant déconnecté.
		</div>
	</section>
{% endblock %}